#!/usr/bin/make -f

%:
	dh $@ --builddirectory=build-cli

override_dh_auto_configure:
	mkdir -p build-cli
	cd build-cli && qmake6 CONFIG+=cli_only ../openrpt.pro

override_dh_auto_build:
	$(MAKE) -C build-cli

override_dh_auto_install:
	@true

override_dh_auto_clean:
	if [ -f build-cli/Makefile ]; then \
		$(MAKE) -C build-cli clean; \
	fi
	rm -rf build-cli

override_dh_builddeb:
	mkdir -p $(CURDIR)/debian/artifacts
	dh_builddeb --destdir=$(CURDIR)/debian/artifacts
